<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "_fragments :: head(~{::title})">
    <title>作落潇城๑ ~记录我们美好的回忆,时间很快有你就是最大的满足.............</title>
</head>
<body>

<script th:src="@{/js/about.js}"></script>
<link rel="stylesheet" th:href="@{/css/about.css}">
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace = "_fragments :: nav">
</nav>


  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">
      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment" >
            <img  name="userProfilePhoto" src="" class="ui rounded image" style="height: 314px">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text"><span id="userNickname"></span>,<span id="userSignature"></span></p>

          </div>
          <div class="ui attached segment" id="hobby">


          </div>
          <div class="ui attached segment" id="label">

          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
            <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="865729312" data-position="bottom center"><i class="qq icon"></i></a>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 110px">
          </div>
          </div>
      </div>
    </div>
  </div>
<!--公告信息-->
<h1 class="ui orange header" style="font-family:方正舒体;margin-left: 500px">
   我的博客时间轴~~~
</h1>

<div class="notice">
    <div th:include="timeline.html"></div>
</div>

<!--
    友情链接
-->



</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });
    $('.qq').popup();

</script>
</html>