<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>分类博文</title>
</head>
<body>
<body>

<script th:src="@{/js/blog-type.js}"></script>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: nav">
</nav>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <!--header-->
      <div class="ui top attached segment">
        <div class="ui middle aligned two column grid">
          <div class="column">
              <h3 class="ui teal header">关于<span id="sortName"></span>类文章</h3>
          </div>
          <div class="right aligned column">
              <!--含有标签数据-->
            共 <h2 class="ui orange header m-inline-block m-text-thin" id="sum">12</h2> 篇
          </div>
        </div>
      </div>

        <!--博客内容-->
      <div class="ui top attached teal segment" id="content">




      </div>
        <div   id="page">

        </div>
    </div>
  </div>



  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

  </script>
</body>
</html>