<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <title>一个人的江湖........</title>
</head>
<body>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: nav">
</nav>
<!--博客内容-->

<script th:src="@{/js/search.js}"></script>
<div class="m-container left-0  m-padded-tb-big">
    <div class="ui top attached teal segment small" id="content">
        <div style="text-align: center">
            <span>亲爱的，没有找到你要的呢，对不起呢~</span>
        </div>
    </div>
</div>
<div id="page" class="m-container-small m-padded-tb-big left-auto">

</div>
</div>
</div>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

</script>
</body>
</html>