<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>作落潇城๑ ~记录我们美好的回忆,时间很快有你就是最大的满足.............</title>
</head>
<body>
<link rel="stylesheet" th:href="@{/css/share.css}">
<link th:href="@{css/slideStyle.css}" rel="stylesheet">
<!--导航-->
<script th:src="@{lib/jquery-slideShow.js}"></script>
<script th:src="@{/js/technique-sharing.js}"></script>
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="_fragments :: nav">
</nav>
<!--首页轮播图-->
<div>
    <div id="text" class="share">
        <!-- 盒子-->
    </div>


    <!--内容-->
    <div class="content">
        <div style="width: 1170px;height: 138.8px;margin: 0 auto">
            <h2>热门推荐</h2>
            <p>
                很想给你写封信,告诉你这里的天气.
                <br>昨夜的那场电影,还有我的心情.
            </p>
            <p>
                以及想带你走的更远，看更好的风景
            </p>
        </div>

        <!--内容-->
            <div class="recommend" id="recommend">


            </div>
        </div>
    </div>


</div>


<div class="about">
    <div style="text-align: center;margin:0 auto">
        <ul class="list">
            <li>
                <a href="/about" class="ui inverted black  button"
                   style="width: 198px;text-align: center;margin: 0 auto">关于</a>
            </li>
            <li>
                <a class="ui inverted black  button" style="width: 198px;text-align: center;margin: 0 auto">友情链接</a>
            </li>
        </ul>
    </div>
</div>


<div class="hobby">
    <div style="margin:0 auto;height: 100px;width: 80%;padding: 110px;text-align: center">
        <div>
            <h1>次元使者</h1>
            <p>爱好游戏，动漫。闲来无事喜欢在一些不健康的场所虚度光阴，撸起代码就会废寝忘食。</p>
        </div>
    </div>
</div>

<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">我的博客</a>
                    <a href="#" class="item m-text-thin">我的相册</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">guoqi76327@163.com</a>
                    <a href="#" class="item m-text-thin">QQ：2949482911</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">作落潇城๑</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2020 Lirenmi Designed by Lirenmi</p>
    </div>
</footer>
</body>
<script>
    $(function(){
        $(document).bind("contextmenu", function () {
            return false;
        });//禁止右键
        document.oncontextmenu = function () {
            return false;
        };
        document.onkeydown = function () {
            if (window.event && window.event.keyCode == 123) {
                event.keyCode = 0;
                event.returnValue = false;
                return false;
            }
        };//禁止F12
    })
</script>
</html>