server:
  port: 9998
spring:
  application:
    name: xiaoxiao-redis
    #配置 redis
  redis:
   database: 1
   host: dk-xiaoxiao.com
   port: 6379
   jedis:
     pool:
      max-active: 200 #最大连接数
      max-wait: -1 #连接池最大等待时间(负数表示没有限制)
      max-idle: 10 #连接池最大空闲数
      min-idle: 0 #连接池最小空闲数
      timeout: 2000 #连接超时时间
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
eureka:
  client:
    service-url:
      defaultZone: http://dk-xiaoxiao.com:9999/eureka/
#配置超时时间
ribbon:
  ConnectTimeout: 30000
  ReadTimeout: 30000




