.message-image{
    float: left;
    width: 60%;
    height: 500px;
    margin-top: 50px;
    background-color: white;
    margin-left: 100px;
}

.message-image div img{
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.message{
    float: left;
    width: 30%;
    height: 500px;
    margin-top: 50px;
}

.function{
    margin-top: 30px;
    margin-left: 25px;
}

.focus-me{
    margin-top: 25px;
}

.icon{
    margin-top: 30px;
    margin-left: 35px;
    font-family: "Arial Black";
}
.focus-me img:hover{
    transform: scale(1.4);
}
.github{
    width: 50px;
    height: 50px;
}

.personage{
    text-align: center;
    font-family:"Baskerville Old Face";
}
.personage-img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
span{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.font{
    font-family: Calibri;
    margin-top: 30px;
    margin-left: 15px;
}
/*
    留言板
*/
.message-board{
    width: 60%;
    margin-left: 100px;
    height: 1800px;
    margin-top: 580px;
    background-color: chocolate;
}
