<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script th:src="@{/static/editormd/editormd-min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script th:src="@{/static/editormd/editormd.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <link rel="bookmark" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" th:href="@{/static/css/editormd-min.css}">
    <link rel="stylesheet" th:href="@{/css/me.css}">
    <link rel="stylesheet" th:href="@{/static/css/editormd.css}" href="../"/>
    <script>
        $(function () {
            /*
            * 请求个人信息
            * */
            $.ajax("/admin/show_me", {
                dataType: "json",
                type: "get",
                timeout: 3000,
                success: (data) => {
                    const result = data.data
                    $("#userNickname").text(result.userNickname)
                    $("#userSignature").text(result.userSignature)
                    $("#userId").val(result.userId)
                    $("#user_id").text(result.userId)
                    $("img[class = 'ui avatar image']").prop("src", data.data.userProfilePhoto)
                    /*
                    * 将用户ID存储在本地浏览框器数据库*/
                    sessionStorage.setItem("userId", result.userId)
                }
            })
        })
    </script>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:fragment="nav">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" id="admin-manager">博客管理</h2>
            <!--
                展示后台菜单
            -->
            <a href="/admin/blogs" class="m-item item m-mobile-hide"><i
                    class="mini book icon"></i>博客管理</a>
            <a href="/admin/sorts" class="m-item item m-mobile-hide"><i
                    class="mini sitemap icon"></i>分类管理</a>
            <a href="/admin/label" class="m-item item m-mobile-hide"><i
                    class="mini tags icon"></i>标签管理</a>
            <a href="/admin/admin_manager" class="m-item item m-mobile-hide"><i
                    class="mini home icon"></i>后台管理</a>
            <a href="/admin/blogs_input" class="m-item item m-mobile-hide"><i
                    class="mini write icon"></i>博客编写</a>
            <a href="/admin/me" class="m-item item m-mobile-hide"><i
                    class="mini newspaper icon"></i>个人信息</a>

            <div class="ui  m-container-small ">
                <div class="ui bgblack buttons">
                    <div class="ui button">更多操作</div>
                    <div class="ui floating dropdown icon button">
                        <i class="dropdown icon"></i>
                        <div class="ui menu">
                            <div class="item"><i class="cloud icon"></i> <a href="/admin/advertising" style="color: dimgray">大广告管理</a></div>
                            <a class="item" href="/admin/leave_message"><i class="cloud icon"></i>留言管理</a>
                            <a class="item" href="/admin/head_photo"><i class="cloud icon"></i>头像管理</a>
                            <a class="item" href="#"><i class="cloud icon"></i>头像管理</a>
                            <a class="item" href="#"><i class="cloud icon"></i>相册管理</a>
                            <a class="item" href="#"><i class="cloud icon"></i>爱好管理</a>
                            <a class="item" href="#"><i class="cloud icon"></i>用户管理</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui black m-container-small ">
                <div class="ui black buttons">
                    <div class="ui button">
                            <div class="text">
                                <span hidden="hidden" id="user_id"></span>
                                <img class="ui avatar image" src="">
                                <span id="userNickname"></span>
                            </div>
                        </span></div>
                    <div class="ui teal  floating dropdown icon bgblack button">
                        <i class="dropdown icon"></i>
                        <div class="ui teal menu">
                            <a th:href="@{/admin/login_out}"class="ui teal item">注销</a>
                            <a th:href="@{/admin/update_password}"class="ui teal item">修改密码</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--菜单-->
<div class="ui attached pointing menu" th:fragment="menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal  item">发布</a>
            <a href="#" class="item">列表</a>
        </div>
    </div>
</div>

<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive" th:fragment="footer">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">我的相册</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：guoqi76327@163.com</a>
                    <a href="#" class="item m-text-thin">QQ：2949482911</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-textF-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini" id="userSignature">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - 2017 Lirenmi Designed by Lirenmi</p>
    </div>
</footer>

<script>
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>

</html>