<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>首页广告管理</title>
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="admin/_fragments :: nav">
</nav>

<!--菜单-->
<div class="ui attached pointing menu" th:replace="admin/_fragments :: menu">
</div>
<script th:src="@{/js/advertising.js}"></script>
<!--中间内容-->
<div class="m-container-big m-padded-tb-big">
    <div class="ui container">

        <table class="ui celled table">
            <thead>
            <tr>
                <th>序号</th>
                <th>描述</th>
                <th>跳转地址</th>
                <th>当前等级</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="advertising">

            </tbody>
            <tfoot>
            <tr>
                <th colspan="8">
                    <div th:include="admin/_page.html"></div>
                </th>
                <script type="text/javascript">
                    function currentPage(currentPage){
                        find_all(currentPage)
                    }
                    $("#pager").zPager({
                        totalData: totalRows,
                        pageData: pageSize,
                        pageCount: totalPage,
                        htmlBox: $('#wraper'),
                        btnShow: true,
                        ajaxSetData: false,
                    });
                </script>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<!--
    分类弹窗
-->
<form class="ui modal form" id="form">
    <i class="close icon"></i>
    <div class="header">
        分类管理
    </div>
    <div class="content">
        <input name="advertisingId" hidden="hidden" value=""/>
        <div class="field">
            <label>广告图片地址</label>
            <input placeholder="请输入广告图片地址...." name="advertisingImg" type="text" value="">
        </div>
        <div class="field">
            <label>广告描述</label>
            <input placeholder="请输入广告描述" name="advertisingAlt"  type="text" value="">
        </div>
        <div class="field">
            <label>广告URL</label>
            <input placeholder="输入广告url...." name="advertisingUrl"  type="text" value="">
        </div>
        <div class="field">
            <label>广告等级</label>
            <input placeholder="广告等级....." name="advertisingLevel"  type="text" value="">
        </div>
        <div class="field">
            <label>广告备注</label>
            <input placeholder="请输入广告备注...." name="advertisingRemark"  type="text" value="">
        </div>
    </div>
    <div class="actions">
        <div class="ui submit button" onclick="submit()">Submit</div>
        <div class="ui positive right labeled icon button">
            取消
            <i class="checkmark icon"></i>
        </div>
    </div>
</form>


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>