<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments :: head(~{::title})">
    <title>博客管理</title>
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="admin/_fragments :: nav">
</nav>

<!--菜单-->
<div class="ui attached pointing menu" th:replace="admin/_fragments :: menu">
</div>

<!--中间内容-->
<div class="m-container-big m-padded-tb-big">
    <div class="ui container">
        <script th:src="@{/js/sorts.js}"></script>
        <table class="ui celled table">
            <thead>
            <tr>
                <th></th>
                <th>序号</th>
                <th>分类名称</th>
                <th>分类别名</th>
                <th>分类描述</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="sorts">

            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div th:include="admin/_page.html"></div>
                </th>
                <script type="text/javascript">
                    function currentPage(currentPage){
                        findAll(currentPage)
                    }
                    $("#pager").zPager({
                        totalData: totalRows,
                        pageData: pageSize,
                        pageCount: totalPage,
                        htmlBox: $('#wraper'),
                        btnShow: true,
                        ajaxSetData: false,
                    });
                </script>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<!--
    分类弹窗
-->
<form class="ui modal form" id="form">
    <i class="close icon"></i>
    <div class="header">
        分类管理
    </div>
    <div class="content">
        <input id="sortId" name="sortId" hidden="hidden" value=""/>
        <div class="field">
            <label>分类名称</label>
            <input placeholder="请输入分类名称...." name="sortName" id="sortName" type="text" value="">
        </div>
        <div class="field">
            <label>分类别名</label>
            <input placeholder="请输入分类别名...." name="sortAlias" id="sortAlias" type="text" value="">
        </div>
        <div class="field">
            <label>分类详情</label>
            <input placeholder="请输入分类详情...." name="sortDescription" id="sortDescription" type="text" value="">
        </div>
    </div>
    <div class="actions">
        <div class="ui submit button" onclick="submit()">Submit</div>
        <div class="ui positive right labeled icon button">
            取消
            <i class="checkmark icon"></i>
        </div>
    </div>
</form>


<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>