<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="admin/_fragments :: nav">
</nav>
<!--菜单-->
<div class="ui attached pointing menu" th:replace="admin/_fragments :: menu">
</div>
<script th:src="@{/js/update-password.js}"></script>
<!--中间内容-->
<div class="m-container-big m-padded-tb-big">
    <div class="ui container" style="width: 800px">
       <div style="margin-bottom: 30px;text-align: center">
            <span >
            至少8-16个字符，至少1个大写字母，1个小写字母和1个数字
        </span>
       </div>

        <div class="ui form" style="margin-right: 300px">
            <div style="width: 240px;margin: 0 auto;">
                <div>
                    <h3 class="ui teal header">
                        输入密码
                    </h3>
                    <input type="password" name="password"onblur="verify()"/>
                </div>
                <div style="margin-top: 13px;">
                    <span id="verifyText-1"  style="size: 25px"></span>
                </div>
            </div>

            <div style="width: 240px;margin: 0 auto;margin-top: 23px;">
                <div>
                    <h3 class="ui teal header">
                        输入密码
                    </h3>
                    <input type="password" name="affirm" onblur="affirm()"/>
                </div>
                <div style="margin-top: 13px;">
                    <span id="verifyText-2"  style="size: 25px"></span>
                </div>
            </div>

            <div style="margin: 0 auto;text-align: center;margin-top: 30px;">
                <div class="ui blue submit button" onclick="update()">Submit</div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</html>